@{
    ViewBag.Title = "Hidden";
}

<table cellpadding="0" cellspacing="1" border="0" width="95%" class="formtable">
    <tr>
        <th style="width:80px;">绑定字段：</th>
        <td><select class="myselect2" id="bindfiled" style="width:270px"></select></td>
    </tr>
    <tr>
        <th>默认值：</th>
        <td>
            <div style="margin-bottom: 6px;"><select class="myselect" id="defaultvalueselect" onchange="parent.insertElementText(document.getElementById('defaultvalue'), this.value);" style="width:290px"></select></div>
            <div><textarea class="mytextarea" id="defaultvalue" style="width:98%; height:50px; margin-right:6px;"></textarea></div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    function initSelect2() {
        new RoadUI.Select().init2($("#bindfiled"));
    }
</script>


