@using Microsoft.AspNetCore.Http
@{ 
    var s = RoadFlow.Utility.Cache.IO.Get("rf_core_theme");
    if (s == null || object.Equals(s, ""))
    {
        s = "blue";
    }
    ViewBag.Theme= s;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,,chrome=1">
    <title>@ViewData["Title"]- .Net Core</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

    <link href="~/RoadFlowResources/themes/@ViewData["Theme"]/Style/style.css?version=@RoadFlow.Utility.Config.SystemVersion" id="style_style" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/RoadFlowResources/themes/@ViewData["Theme"]/Style/ui.css?version=@RoadFlow.Utility.Config.SystemVersion" id="style_ui" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/RoadFlowResources/themes/common.css?version=@RoadFlow.Utility.Config.SystemVersion" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/RoadFlowResources/themes/@ViewData["Theme"]/jqgrid/ui.jqgrid.css?version=@RoadFlow.Utility.Config.SystemVersion" rel="stylesheet" />
    <link href="~/RoadFlowResources/themes/@ViewData["Theme"]/jqgrid/jquery-ui.css?version=@RoadFlow.Utility.Config.SystemVersion" rel="stylesheet" />

    <link href="~/RoadFlowResources/scripts/font-awesome-4.7.0/css/font-awesome.min.css" id="style_fontawesome" rel="stylesheet" media="screen" />
    <link href="~/RoadFlowResources/Scripts/select2/select2.css?version=@RoadFlow.Utility.Config.SystemVersion" rel="stylesheet" />

    <script src="~/RoadFlowResources/scripts/laydate/laydate.js"></script>

    <script type="text/javascript" src="~/RoadFlowResources/scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/json.js"></script>

    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.core.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.button.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.calendar.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.file.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.member.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.dict.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.menu.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.select.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>

    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.combox.js"></script>

    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.tab.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.text.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.textarea.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>

    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.editor.js"></script>

    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.tree.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.validate.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.window.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.dragsort.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.selectico.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.selectdiv.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.accordion.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>

    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.grid.js"></script>

    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.treetable.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/select2/select2.full.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/jqgrid/js/jquery.jqGrid.js"></script>

    <script type="text/javascript" src="~/RoadFlowResources/scripts/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/RoadFlowResources/scripts/roadui/roadui.init.js?version=@RoadFlow.Utility.Config.SystemVersion"></script>

</head>

<body>

    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>