@{
    ViewBag.Title = "Starts";
    var s = new RoadFlow.Business.Dictionary();
    string str = s.GetIdByCode("system_applibrarytype").ToString();
    Dictionary<Guid, string> dic = new Dictionary<Guid, string>();
    Dictionary<Guid, string> dic1 = new Dictionary<Guid, string>();
   
}
@model IEnumerable<RoadFlow.Model.FlowRun>
<div style="height:20px;"></div>


@{ foreach (var flowstart1 in Model)
    {
        if (!dic.ContainsValue(s.GetAllParentTitle(flowstart1.Type, true, false, str, false)))
        {
            dic.Add(flowstart1.Type, s.GetAllParentTitle(flowstart1.Type, true, false, str, false));
            dic1.Add(flowstart1.Type, s.GetAllParentTitle(flowstart1.Type, true, false, str, false));
            <div class="" style="width:97%; margin:0 auto;">
                <div>
                    <div class='startflowtype'>@Html.Raw(s.GetAllParentTitle(flowstart1.Type, true, false, str, false))</div>
                    <div style="clear:both;"></div>
                    <div style="padding-top:10px; float:left; font-weight:bold;"></div>
                    <div style="padding-top:10px; float:left; margin:0">
                        
                        @foreach (var flowstart in Model)
                        {
                            if (dic1.ContainsValue(s.GetAllParentTitle(flowstart.Type, true, false, str, false)))
                            {

                                    <a class="startflowlink" href="javascript:void(0);" onclick="top.openApp('/RoadFlowCore/FlowRun/Index?flowid=@flowstart.Id',0,'@flowstart.Name','');">
                                        <div class="startflowdiv" style="background:@flowstart.Color;">
                                            <div>
                                                <div class="startflowdivico">
                                                    <div class="fa @flowstart.Ico" style="font-size:28px; padding-top:6px;"></div>
                                                </div>
                                            </div>
                                            <div class="startflowdivtext">
                                                <div class="startflowdivtextbg"></div>
                                                <div class="startflowdivtextword">@flowstart.Name</div>
                                            </div>
                                        </div>
                                    </a>

                            }

                        }
                        @{
                            dic1.Clear();
                        }

                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        }


    }

}









