@{
    ViewBag.Title = "Index";
    var Trees = "Tree" + Html.Raw(ViewBag.queryString);
    var Lists= "List"+ Html.Raw(ViewBag.queryString)+"&id="+ViewBag.id+ "&ismobile="+ViewBag.ismobile;
}
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>
<form id="form1">
    <table cellpadding="0" cellspacing="1" border="0" width="100%">
        <tr>
            <td style="width:200px; vertical-align:top; padding:5px 5px 0 5px;">
                <iframe id="Iframe1_FilesList" frameborder="0" scrolling="auto" src="@Trees" style="width:100%;margin:0;padding:0;"></iframe>
            </td>
            <td class="organizesplit">
                <iframe id="Iframe2_FilesList" frameborder="0" scrolling="auto" src="@Lists" style="width:100%;margin:0;padding:0;"></iframe>
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        var isSelect = "1" === "@ViewBag.isselect";
        $(function () {
            var height = $(window).height();
            if (height == 0) {
                height = $(parent).height();
            }
            if (isSelect) {
                height = height - 18;
            }
            $('#Iframe1_FilesList').attr('height', height - 15);
            $('#Iframe2_FilesList').attr('height', height - 15);
        });
    </script>
</form>

