<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:/Logs/nlog-internal.log">

  <!--define various log targets-->
  <targets>

    

    <!--write logs to file-->
    <target xsi:type="File" name="allfile"   fileName="c:/Logs/nlog-all-${shortdate}.log"  encoding="utf-8" archiveAboveSize="10240000" maxArchiveFiles="100"
                 layout="----------------日志记录开始----------------${newline}【日志时间】：${longdate} ${newline}【电脑名称】${machinename}${newline}【IP地址】${Ip}${newline}【用户名】${UserId} ${newline}【事件日志上下文】${all-event-properties}${newline}【日志发生时间】${stacktrace}${newline}【记录器的名字】${logger}${newline}【日志级别】：${uppercase:${level}}${newline}【异常相关信息】${newline}${message} ${exception}${newline}" />

    <target xsi:type="File" name="queryLog" fileName="c:/Logs/nlog-queryLog-${shortdate}.log"  encoding="utf-8" archiveAboveSize="10240000" maxArchiveFiles="50"
                 layout="----------------日志记录开始----------------${newline}【日志时间】：${longdate} ${newline}【电脑名称】${machinename}${newline}【IP地址】${Ip}${newline}【用户名】${UserId} ${newline}【事件日志上下文】${all-event-properties}${newline}【日志发生时间】${stacktrace}${newline}【记录器的名字】${logger}${newline}【日志级别】：${uppercase:${level}}${newline}【异常相关信息】${newline}${message} ${exception}" />

    
    <target xsi:type="Null" name="blackhole" />
    <!--写入SqlServer数据库-->
    <target xsi:type="Database" name="sqlserver" connectionString="server=.;database=NewRoadFlowCore;uid=sa;pwd=sa">
      <commandText>
        Insert Into [N_Log](
        [TraceId],[BusinessId],[LogName],[Level],[OperationTime],[Duration],[Url],
        [Tenant],[Application],[Module],[Class],[Method],[Params],
        [Caption],[Content],[Sql],[SqlParams],[ErrorCode],[ErrorMessage],[StackTrace],
        [UserId],[Operator],[Role],[Ip],[Host],[ThreadId],[Browser]
        )
        Values(
        @TraceId,@BusinessId,@LogName,@Level,@OperationTime,@Duration,@Url,
        @Tenant,@Application,@Module,@Class,@Method,@Params,
        @Caption,@Content,@Sql,@SqlParams,@ErrorCode,@ErrorMessage,@StackTrace,
        @UserId,@Operator,@Role,@Ip,@Host,@ThreadId,@Browser
        )
      </commandText>
      <parameter name="@TraceId" layout="${log:Name=TraceId}" />
      <parameter name="@BusinessId" layout="${log:Name=BusinessId}" />
      <parameter name="@LogName" layout="${log:Name=LogName}" />
      <parameter name="@Level" layout="${log:Name=Level}" />
      <parameter name="@OperationTime" layout="${log:Name=OperationTime}" />
      <parameter name="@Duration" layout="${log:Name=Duration}" />
      <parameter name="@Url" layout="${log:Name=Url}" />
      <parameter name="@Tenant" layout="${log:Name=Tenant}" />
      <parameter name="@Application" layout="${log:Name=Application}" />
      <parameter name="@Module" layout="${log:Name=Module}" />
      <parameter name="@Class" layout="${log:Name=Class}" />
      <parameter name="@Method" layout="${log:Name=Method}" />
      <parameter name="@Params" layout="${log:Name=Params}" />
      <parameter name="@Caption" layout="${log:Name=Caption}" />
      <parameter name="@Content" layout="${log:Name=Content}" />
      <parameter name="@Sql" layout="${log:Name=Sql}" />
      <parameter name="@SqlParams" layout="${log:Name=SqlParams}" />
      <parameter name="@ErrorCode" layout="${log:Name=ErrorCode}" />
      <parameter name="@ErrorMessage" layout="${log:Name=ErrorMessage}" />
      <parameter name="@StackTrace" layout="${log:Name=StackTrace}" />
      <parameter name="@UserId" layout="${log:Name=UserId}" />
      <parameter name="@Operator" layout="${log:Name=Operator}" />
      <parameter name="@Role" layout="${log:Name=Role}" />
      <parameter name="@Ip" layout="${log:Name=Ip}" />
      <parameter name="@Host" layout="${log:Name=Host}" />
      <parameter name="@ThreadId" layout="${log:Name=ThreadId}" />
      <parameter name="@Browser" layout="${log:Name=Browser}" />
    </target>
  </targets>

  <rules>
    <!--All logs, including from Microsoft -->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
    <logger name="Microsoft.*" minlevel="Error" writeTo="allfile" />
    
    
    <!--Skip Microsoft logs and so log only own logs-->
    <!--日志级别 Trace Debug  Info Error  Fatal-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="queryLog" />
    <!-- 写入SqlServer数据库，日志级别：Trace,Debug,Info,Warn,Error,Fatal,Off -->
    <logger minlevel="Trace" name="*" writeTo="sqlserver" />
  </rules>


</nlog>

